@import '../styles/Variables.scss';
.ProjectCard {
  border: 2px solid white;
  background-color: rgba(120, 35, 192, 0.5);
  overflow: hidden;
}
.projectText {
  padding: 5%;
  color: white;
  * {
    font-family: $heading3;
  }
  .tech {
    font-size: 1rem;
    color: black;
  }
  .projectName {
    font-size: 1.25rem;
    text-decoration: underline;
  }
  .featured {
    color: rgb(150, 150, 150);
  }
}
.visitGit {
  margin-left: 20px;
}
.projectImg {
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}