@import '../styles/Variables.scss';
.sectionTitle {
  font-family: $heading1;
  font-size: 3rem;
  font-weight: 900;
  text-decoration: underline;
  text-underline-offset: 20px;
  color: white;
  letter-spacing: 5px;
}

.projectSection {
  margin-top: 50px;
}