@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&family=VT323&display=swap');
$heading1: 'DotGothic16', sans-serif;
$heading2: 'Press Start 2P', cursive;
$heading3: 'VT323', monospace;
$yellow: #F6E05E;
$dark-purple: #7823C0; 
$primary-color:#764AF1;
$secondary-color: #9772FB;
$darkish: #7F7C82;
$background: #f2f2f2;
$whiteish: #f2f2f2;
$red: #F32424;